:root {
    --primary-color: #5D3BEE;
    --heading-color: #080415;
    --text-color: #51586A;

}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}

.deco {
    position: absolute;
    z-index: 1;
}

.heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.2; /* 119.048% */
}

.heading.lv3 {
    font-size: 32px;
    line-height: 1.25; /* 125% */
}

.container {
    padding: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 170px;
    height: 62px;
    background-color: var(--primary-color);
    color: #FDFDFD;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    transition: .25s ease-in-out;
}

.btn:hover {
    background-color: #FDFDFD;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    padding: 30px 50px;
}

/* Header */
.header {
    background: #FBFAFF;
    padding-top: 20px;
}

.navbar {
    position: relative;
    max-width: 1330px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__email {
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: .25s ease-in-out;
    z-index: 2;
}

.navbar__email-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    transition: background .25s ease-in-out;
}

.navbar__email:hover .navbar__email-icon {
    background: var(--primary-color);
}

.navbar__email-text {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration: underline;
    text-decoration-color: var(--heading-color);
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.navbar__list {
    display: flex;
    margin-right: -21.5px;
}

.navbar__link {
    color: #51586A;
    font-size: 1.8rem;
    padding: 8px 21.5px;
    transition: .25s ease-in-out;
}

.navbar__email:hover {
    opacity: 0.8;
}

.navbar__link:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero__inner {
    position: relative;
}

.hero__img {
    width: 514px;
    height: 705px;
}

.hero__media {
    position: relative;
    z-index: 2;
}

.hero__content {
    margin-top: 137px;
    margin-left: -30px;
}

.hero__heading {
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
}

.hero__desc {
    max-width: 370px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero__link {
    margin-left: 30px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6730px; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
}

.hero__link {
    margin-left: 30px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6730px; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color .25s ease-in-out;
}

.hero__link:hover {
    color: var(--primary-color);
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 100px;
}

.hero__social-text {
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.hero__social-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--heading-color);
    border: 1px solid rgba(8, 4, 21, 0.1);
    transition: .15s ease-in-out;
}

.hero__social-link:hover {
    background-color: var(--heading-color);
    border-color: var(--heading-color);
    color: #fff;
}

/* Header Deco */
.hero__deco-1 {
    bottom: 0;
    left: -200px;
}

.hero__deco-2 {
    bottom: 0;
    right: -120px;
}

/* Clients */
.client {
    margin-top: 98px;
}

.client__heading {
    position: relative;
    font-size: 4.2rem;
    padding-left: 99px;
    margin-top: 13px;
    max-width: 352px;
}

.client__heading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 22px;
    display: inline-block;
    width: 86px;
    height: 2px;
    background-color: var(--primary-color);
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px 30px;
    margin-left: 100px;
}       

.client__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.client__wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.client__item:nth-child(2) .client__wrapper{
    background: #FBFAFF;
}

.client__item:nth-child(3) .client__wrapper{
    background: #FEE101;
}

.client__item:nth-child(4) .client__wrapper{
    background: #FF0000;
}

.client__item:nth-child(5) .client__wrapper{
    background: #14A800;
}

.client__item:nth-child(7) .client__wrapper{
    background: #7F54B3;
}

.client__brand {
    color: var(--heading-color);
}

/* Service */
.service {
    padding: 70px 0;
    margin-top: 63px;
}

.service__top {
    text-align: center;
}

.service__desc {
    max-width: 534px;
    margin: 20px auto 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.service__list {
    margin-top: 60px;
}

.service__item {
    padding: 32px 42px;
    background: #FBFAFF;
}

.service__item-title {
    margin-top: 20px;
}

.service__item-desc {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

/* Project */
.project {
    margin-top: 70px;
    padding: 86px 0;
    background: var(--primary-color);
}

.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    color: #FFF;
    max-width: 468px;
}

.project__desc {
    color: #FFF;
    opacity: 0.7;
    max-width: 370px;
    margin-left: 160px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.project__list {
    margin-top: 55px;
}

.project__item {
    position: relative;
    background: #FFF;
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.project__item--info {
    z-index: 2;
}

.project__item--heading {
    white-space: nowrap; ;
}

.project__item--desc {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44; /* 143.75% */
}

.project__img {
    position: relative;
    width: 246px;
    height: 187px;
    z-index: 2;
}

.project__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color .25s ease-in-out;
}

.project__link:hover {
    color: var(--primary-color);
}

.project__cta {
    margin-top: 65px;
    text-align: center;
}

.project__btn {
    background: #FFF;
    color: var(--heading-color);
    border: 1px solid #FFF;
}

.project__btn:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background: transparent;
}

.project__deco {
    right: -10px;
}








