:root {
    --primary-color: #5D3BEE;
    --heading-color: #080415;
    --text-color: #51586A;

}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2{
    --line-clamp: 2;
}

.line-clamp.line-3{
    --line-clamp: 3;
}

.line-clamp.line-4{
    --line-clamp: 4;
}

.deco {
    position: absolute;
    z-index: 1;
}

.heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.2; /* 119.048% */
}

.heading.lv3 {
    font-size: 32px;
    line-height: 1.25; /* 125% */
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 170px;
    height: 62px;
    background-color: var(--primary-color);
    color: #FDFDFD;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    transition: .25s ease-in-out;
}

.btn:hover {
    background-color: #FDFDFD;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    padding: 30px 50px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 42px;
}

.dot {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.2;
    background: #080415;
}

.dot--active {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
    opacity: 1;
}

.dot--active::before {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--primary-color);
}

/* Header */
.header {
    background: #FBFAFF;
    padding-top: 20px;
}

.intro-bar {
    position: relative;
    max-width: 1330px;
    height: 100px;
    margin: 0 auto;
    padding: 27px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__email {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: .25s ease-in-out;
    z-index: 2;
}

.navbar__email-icon, .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    transition: background .25s ease-in-out;
}

.navbar__email:hover .navbar__email-icon {
    background: var(--primary-color);
}

.navbar__email-text {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration: underline;
    text-decoration-color: var(--heading-color);
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.navbar__list {
    display: flex;
    margin-right: -21.5px;
}

.navbar__link {
    color: #51586A;
    font-size: 1.8rem;
    padding: 8px 21.5px;
    transition: .25s ease-in-out;
}

.navbar__email:hover {
    opacity: 0.8;
}

.navbar__link:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
    background: #FBFAFF;
}

.hero__inner {
    position: relative;
}

.hero__media {
    position: relative;
    z-index: 2;
    margin-top: -15px;
}

.hero__wrapper {
    padding-bottom: 0 !important;
}

.hero__img {
    display: block;
    width: 514px;
    height: 705px;
}

.hero__content {
    margin-top: 137px;
    margin-left: -30px;
}

.hero__heading {
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
}

.hero__desc {
    max-width: 370px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero__link {
    margin-left: 30px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6730px; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
}

.hero__link {
    margin-left: 30px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6730px; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color .25s ease-in-out;
}

.hero__link:hover {
    color: var(--primary-color);
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 100px;
}

.hero__social-text , .hero__social-link {
    z-index: 2;
}

.hero__social-text {
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.hero__social-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--heading-color);
    border: 1px solid rgba(8, 4, 21, 0.1);
    transition: .15s ease-in-out;
}

.hero__social-link:hover {
    background-color: var(--heading-color);
    border-color: var(--heading-color);
    color: #fff;
}

/* Header Deco */
.hero__deco-1 {
    bottom: 0;
    left: -200px;
}

.hero__deco-2 {
    bottom: 0;
    right: 0;
}

/* Clients */
.client {
    margin-top: 70px;
    padding: 30px 0;
}

.client__heading {
    position: relative;
    font-size: 4.2rem;
    margin-left: 99px;
    margin-top: 13px;
    max-width: 253px;
}

.client__heading::before {
    content: '';
    position: absolute;
    left: -99px;
    top: 22px;
    display: inline-block;
    width: 86px;
    height: 2px;
    background-color: var(--primary-color);
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px 30px;
    margin-left: 100px;
}       

.client__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.client__wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.client__item:nth-child(2) .client__wrapper{
    background: #FBFAFF;
}

.client__item:nth-child(3) .client__wrapper{
    background: #FEE101;
}

.client__item:nth-child(4) .client__wrapper{
    background: #FF0000;
}

.client__item:nth-child(5) .client__wrapper{
    background: #14A800;
}

.client__item:nth-child(7) .client__wrapper{
    background: #7F54B3;
}

.client__brand {
    color: var(--heading-color);
}

/* Service */
.service {
    padding: 70px 0;
    margin-top: 33px;
}

.service__top {
    text-align: center;
}

.service__desc {
    max-width: 534px;
    margin: 20px auto 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.service__list {
    overflow: hidden;
    margin-top: 60px;
}

.service__item {
    flex-shrink: 0;
    flex-basis: 370px;
    padding: 32px 42px;
    background: #FBFAFF;
}

.service__item-title {
    margin-top: 20px;
}

.service__item-desc {
    max-width: 285px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

/* Project */
.project {
    margin-top: 70px;
    padding: 86px 0;
    background: var(--primary-color);
}

.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    color: #FFF;
    max-width: 468px;
}

.project__desc {
    color: #FFF;
    opacity: 0.7;
    max-width: 370px;
    margin-left: 160px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.project__list {
    margin-top: 55px;
    padding: 15px;
}

.project__inner {
    row-gap: 10px;
}

.project__item {
    position: relative;
    background: #FFF;
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 44px;
}

.project__item--info {
    z-index: 2;
}

.project__item--heading {
    white-space: nowrap;
}

.project__item--desc {
    max-width: 220px;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44; /* 143.75% */
}

.project__img {
    --height: 187px;
    --width: 246px;
    
    position: relative;
    width: var(--width);
    height: var(--height);
    z-index: 2;
}

.project__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color .25s ease-in-out;
}

.project__link:hover {
    color: var(--primary-color);
}

.project__cta {
    margin-top: 65px;
    text-align: center;
}

.project__btn {
    background: #FFF;
    color: var(--heading-color);
    border: 1px solid #FFF;
}

.project__btn:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background: transparent;
}

.project__deco {
    top: 0;
    right: 0;
}

/* About me */
.about-me {
    margin-top: 140px;
}

.about-me__top {
    text-align: center;
}

.about-me__row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    margin-bottom: 10px;
}

.about-me__subtitle {
    color: var(--primary-color);
}

.about-me__desc {
    max-width: 570px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin: 15px auto 0;
}

.about-me__stats {
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-evenly;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
}

.about-me__stats--text {
    display: block;
}

.about-me__stats--value {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    border-bottom: 3px solid currentColor;
    letter-spacing: 1.68px;
    line-height: 1.36; /* 135.714% */
}
.about-me__stats--text {
    margin-top: 9px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.about-me__video {
    position: relative;
    margin-top: 70px;
    z-index: 3;
}

.about-me__thumbnail {
    width: 100%;
    height: 628px;
    object-fit: cover;
}

.about-me__video--control {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.about-me__btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: inherit;
    background: #FFF;
    text-transform: uppercase;
}

.about-me__btn:hover {
    background-color: var(--text-color);
    color: #FFF;
    border: 1px solid var(--text-color);
}

/* Feedback */
.feedback {
    position: relative;
    background: #FBFAFF;
    padding-bottom: 74px; 
    margin-top: -375px;
    text-align: center;
}

.feedback__top {
    padding-top: 473px;
}

.feedback__desc {
    max-width: 570px;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 20px auto 0;
    line-height: 1.67; /* 166.667% */
}

.feedback__content {
    margin-top: 60px;
}

.feedback__text {
    max-width: 679px;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin: 0 auto;
}

.feedback__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F29764;
}

.feedback__row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

    margin-top: 36px;
}

.feedback__avatar {
    overflow: hidden;
}

.feedback__img {
    margin-top: 6.7px;
    margin-left: -4.58px;
    width: 45.121px;
    height: 74.732px;
    object-fit: cover;
}

.feedback__name {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
}

.feedback__role {
    line-height: 1.81; /* 181.25% */
}

.feedback__deco-1 {
    left: 0;
    bottom: 0;
}

.feedback__deco-2 {
    right: 0;
    bottom: 0;
}

/* FAQ */
.faq {
    margin-top: 25px;
    padding: 70px 0;
}

.faq__heading {
    max-width: 575px;
}

.faq__list {
    margin-top: 80px;
    padding-right: 160px;
}

.faq__item {
    position: relative;
    margin-top: 60px;
}

.faq__row {
    position: relative;
    display: flex;
    padding-bottom: 33px;
    padding-left: 22px;
    justify-content: space-between;
    border-bottom: 1px solid #08182F;
    transition: .5s ease-in-out;
}

.faq__info {
    flex: 1;
}

.faq__question {
    transition: .5s ease-in-out;
    padding-right: 52px;
}

.faq__answer {
    position: relative;
    transition: .5s ease-in-out;
}

input[type="checkbox"]:checked  ~ .faq__row .faq__answer {
    padding-bottom: 80px; 
}

.faq__answer--text {
    position: absolute;
    top: 23px;
    max-width: 487px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; 
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.faq__wrapper {
    display: flex;
    align-items: center;
}

.faq__icon {
    position: relative;
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(22, 26, 28, 0.2);
    transition: .5s ease-in-out;
}

.faq__icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 9.959px;
    background: #161A1C;
    transition: .5s ease-in-out;
}

.line {
    width: 9.959px;
    height: 2px;
    background: #161A1C;
}

input[type="checkbox"]:checked  ~ .faq__row {
    border-bottom-color: var(--primary-color);
    padding-bottom: 21px;
}

input[type="checkbox"]:checked  ~ .faq__row .faq__question{
    color: var(--primary-color);
}

input[type="checkbox"]:checked  ~ .faq__row .faq__answer--text {
    opacity: 1;
    visibility: visible;
}

input[type="checkbox"]:checked  ~ .faq__row .faq__icon {
    /* top: 35px; */
    border-color: rgba(93, 59, 238, 0.2);
}

input[type="checkbox"]:checked  ~ .faq__row .faq__icon .line {
    background: var(--primary-color);
}

input[type="checkbox"]:checked  ~ .faq__row .faq__icon::after {
    opacity: 0;
    visibility: hidden;
}

/* My Atmosphere */
.atmosphere {
    padding: 70px 0;
    margin-top: 20px;
}

.atmosphere__top {
    text-align: center;
}

.atmosphere__desc {
    max-width: 528px;
    margin: 20px auto 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.atmosphere__link {
    display: inline-block;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 40px; /* 125% */
    text-decoration: underline;
    text-underline-offset: 8px;
}

.atmosphere__media {
    margin-top: 70px;
}

.atmosphere__img {
    width: 100%;
    height: 529px;
    object-fit: cover;
}

/* Contact */
.contact {
    position: relative;
    max-width: 1330px;
    margin-top: 90px;
    padding: 68px;
    margin: 0 auto;
    text-align: center;
    background: #FBFAFF;
    overflow: hidden;
}

.contact__heading {
    margin-top: 10px;
}

.contact__desc {
    margin: 20px auto 40px;
    max-width: 570px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.contact__btn {
    position: relative;
    z-index: 3;
}

.contact__deco-1 {
    bottom: 0;
    left: 0;
}

.contact__deco-2 {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.contact__deco-3 {
    right: 0;
    top: 0;
}

/* Footer */
.footer {
    margin-top: 50px;
    padding-bottom: 30px;
}

.separate-line {
    margin-top: 32px;
    height: 1px;
    background: rgba(12, 7, 32, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1429px;
    width: 100%;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px auto 0;
    padding: 0 97px;
}

.copy-right , .policy {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    opacity: 0.6;
}

.policy__divider {
    display: inline-block;
    margin: 0 13px 0 23px;
}



















